.graph-container {
  background-color: #000000;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(248, 247, 247, 0.8);
  margin: 20px auto; /* Center the container */
  display: flex;
  justify-content: center;
  max-width: 450px;
  margin-left: 20px;
}
body{
  background-color: black;
}
